<div class="center-align">
  <div>
    <h1>Welcome to the dashboard of Simple CRM!</h1>
  </div>
  <div>
    <img src="./images/medium-logo.png" alt="png">
  </div>
  <div>
    Simple CRM is a very basic crm whose goal is to facilitate the management of relations with customers.
  </div>
  <div>
    <h2>This is still a work in progress!</h2> 
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>