<!--<form class="mat-elevation-z4" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">-->
<mat-card class="item-card">

  <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

      <mat-form-field fxFlex="100">
        <input matInput placeholder="#" formControlName="id" value="{{item.id}}">
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

      <mat-form-field fxFlex="50">
        <input matInput placeholder="First name" formControlName="firstName" required autocomplete="off">
        <mat-error *ngIf="firstName.invalid && firstName.touched">
          First Name is required!
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="50">
        <input matInput placeholder="Last name" formControlName="lastName" required autocomplete="off">
        <mat-error *ngIf="lastName.invalid && lastName.touched">
          Last Name is required!
        </mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

      <mat-form-field fxFlex="100">
        <textarea matInput placeholder="Address" formControlName="address" required autocomplete="off">
                            1600 Amphitheatre Pkwy
                        </textarea>
        <mat-error *ngIf="address.invalid && address.touched">
          Address is required!
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <textarea matInput placeholder="Address 2" formControlName="address2" autocomplete="off"></textarea>
        <mat-error *ngIf="address2.invalid && address2.touched">
          Address 2 is required!
        </mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

      <mat-form-field fxFlex="33">
        <input matInput placeholder="City" formControlName="city" required autocomplete="off">
        <mat-error *ngIf="city.invalid && city.touched">
          City is required!
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="34">
        <input matInput placeholder="State" formControlName="state" required autocomplete="off">
        <mat-error *ngIf="state.invalid && state.touched">
          State is required!
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="33">
        <input matInput #postalCode placeholder="Postal Code" value="94043"
               formControlName="postalCode" required autocomplete="off">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        <mat-error *ngIf="postalCode.maxlength">
          Postal Code needs to be max. {{formErrors.postalCode.maxlength.requiredLength}} characters
        </mat-error>
        <mat-error *ngIf="postalCode.invalid && postalCode.touched">
          Postal Code is required!
        </mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

      <mat-form-field fxFlex="100">
        <mat-select placeholder="Country" formControlName="country" required>
          <mat-option [value]="'United States of America'">
            United States of America
          </mat-option>
          <mat-option [value]="'United Kingdom'">
            United Kingdom
          </mat-option>
          <mat-option [value]="'Russia'">
            Russia
          </mat-option>
          <mat-option [value]="'China'">
            China
          </mat-option>
          <mat-option [value]="'Japan'">
            Japan
          </mat-option>
          <mat-option [value]="'Turkey'">
            Turkey
          </mat-option>
        </mat-select>
        <mat-error *ngIf="country.invalid && country.touched">
          Country is required!
        </mat-error>
      </mat-form-field>

    </div>

  </form>

</mat-card>
