<h2>Id: {{item.id}}</h2>
<h3>Active: {{(item.active ? 'yes' : 'no')}}</h3>
<h3>Created: {{item.created}}</h3>
<h4>addresses: {{item.addresses}}</h4>
<h4>birthday: {{item.birthday}}</h4>
<h4>description: {{item.description}}</h4>
<h4>emails: {{item.emails}}</h4>
<h4>facebook: {{item.facebook}}</h4>
<h4>faxes: {{item.faxes}}</h4>
<h4>firstName: {{item.firstName}}</h4>
<h4>gender: {{item.gender}}</h4>
<h4>language: {{item.language}}</h4>
<h4>lastName: {{item.lastName}}</h4>
<h4>linkedIn: {{item.linkedIn}}</h4>
<h4>phones: {{item.phones}}</h4>
<h4>picture: {{item.picture}}</h4>
<h4>skype: {{item.skype}}</h4>
<h4>title: {{item.title}}</h4>
<h4>twitter: {{item.twitter}}</h4>
<h4>updated: {{item.updated}}</h4>
<h4>websites: {{item.websites}}</h4>
