<div class="sidebar-content">

  <div class="card">

    <!-- SIDEBAR HEADER -->
    <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">

      <!-- USER -->
      <!-- <img [src]="user.avatar" class="avatar mr-16" [alt]="user.name"/> -->
      <!-- <span class="h5">{{user.name}}</span> -->
      <ng-container *ngIf="userName$ | async as userName">
        <img [src]="'assets/images/avatars/profile.jpg'" class="avatar mr-16" [alt]="userName" />
        <span class="h5">{{userName}}</span>
      </ng-container>
      <!-- / USER -->

    </div>
    <!-- / SIDEBAR HEADER -->

    <!-- SIDEBAR CONTENT -->
    <div class="content py-16" fusePerfectScrollbar>

      <div class="nav material2">

        <ng-container *ngIf="filterBy$ | async as filterBy">
          
          <div class="nav-item" aria-label="inbox">
            <a class="nav-link" matRipple (click)="changeFilter('all')" [ngClass]="{'active accent':filterBy ==='all'}">
              <span class="title">All Items</span>
            </a>
          </div>
  
          <div class="nav-item" aria-label="favorites" (click)="changeFilter('favorites')">
            <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='favorites'}">
              <div class="title">Favorite Items</div>
            </a>
          </div>
          
        </ng-container>

      </div>

    </div>

  </div>

</div>
<!-- / SIDEBAR CONTENT -->