# IDE - Visual Studio
.vs/
Logs/
**/obj/
**/bin/

# IDE - JetBrains Rider
.idea/
*.DotSettings.user

# To create locally (SimpleCRM.Data/database_upgrade.sh, ssl/howto.txt)
SimpleCRM.Data/Migrations/**
ssl/localhost.crt
ssl/localhost.key
ssl/localhost.pfx
