# IDE - Visual Studio
.vs/
Logs/
SimpleCRM.Business/bin/
SimpleCRM.Business/obj/
SimpleCRM.Common/obj/
SimpleCRM.Common/bin/
SimpleCRM.Data/obj/
SimpleCRM.Data/bin/

# To create locally (SimpleCRM.Data/database_upgrade.sh, ssl/howto.txt)
SimpleCRM.Data/Migrations/**
ssl/localhost.crt
ssl/localhost.key
ssl/localhost.pfx
