<!--The content below is only a placeholder and can be replaced.-->
<mat-drawer-container autosize fullscreen>
  <mat-drawer #drawer mode="side">
    <mat-toolbar>
      <mat-toolbar-row routerLink="/">
        <mat-icon>dashboard</mat-icon> Dashboard
      </mat-toolbar-row>
      <mat-toolbar-row [routerLink]="['entity', 'Contacts']">
        <mat-icon>event_available</mat-icon> Contacts
      </mat-toolbar-row>
      <mat-toolbar-row [routerLink]="['entity', 'Companies']">
        <mat-icon>event_available</mat-icon> Companies
      </mat-toolbar-row>
      <mat-toolbar-row [routerLink]="['entity', 'Actions']">
        <mat-icon>date_range</mat-icon> Actions
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-drawer>

  <div id="drawer-content">
    <mat-toolbar color="primary">
      <button mat-button (click)="drawer.toggle()">
        <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
        <mat-icon *ngIf="drawer.opened">chevron_left</mat-icon>
      </button>
      <span class="margin-left-5">Simple CRM</span>
      <mat-form-field class="margin-left-5 example-form-field">
        <input matInput type="search" placeholder="Enter something..." [(ngModel)]="searchQuery" />
        <button *ngIf="searchQuery" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchQuery=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button button="submit" mat-raised-button color="primary">Search</button>
      <span class="example-spacer"></span>
      <span *ngIf="isAuthorized">Hello {{(userState$ | async)?.login}} !</span>
      <button mat-icon-button title="Info" [matMenuTriggerFor]="dropdownMenu">
        <mat-icon>info_outline</mat-icon>
      </button>
    </mat-toolbar>

    <div class="body-margin">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
<mat-menu #dropdownMenu [overlapTrigger]="false">
  <a *ngIf="!isAuthorized" mat-menu-item (click)="login()">
    <mat-icon>how_to_reg</mat-icon>
    <span>Login</span>
  </a>
  <a *ngIf="isAuthorized" mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </a>
  <a mat-menu-item routerLink="news">
    <mat-icon>chat</mat-icon>
    <span>News</span>
  </a>
  <a mat-menu-item routerLink="chat">
    <mat-icon>chat</mat-icon>
    <span>Chat</span>
  </a>
  <a mat-menu-item>
    <mat-icon>info_outline</mat-icon>
    <span>About</span>
  </a>
</mat-menu>
