<!--The content below is only a placeholder and can be replaced.-->
<mat-drawer-container autosize fullscreen>

  <mat-drawer #drawer mode="side">

    <!-- NavigationComponent -->
    <app-navigation></app-navigation>

  </mat-drawer>

  <div id="drawer-content">

    <!-- TODO: Find solution for flex-style -->
    <app-topbar
      [drawer]="drawer"
      [searchQuery]="searchQuery"
      [isAuthorized]="isAuthorized"
      [userState]="userState$ | async"
    ></app-topbar>

    <div class="body-margin">
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-drawer-container>
