<div class="page-layout simple fullwidth angular-material-elements">

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">

      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">

        <mat-icon class="secondary-text s-18">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Entities</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">List</span>
        
      </div>

      <div class="h2 mt-16">{{entity | titlecase}}</div>
      
    </div>

    <a [routerLink]="['edit']" mat-raised-button class="mat-primary mt-16 mt-sm-0">
      <!-- <mat-icon class="mr-8">link</mat-icon> -->
      <span>ADD NEW ITEM</span>
    </a>
    
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">

    <app-list-details 
      (switchPage)="paginate()"
      (changeSort)="paginate()"
      (deleteRow)="onDelete($event)"
      [paginationItems$]="paginationItems$">
    </app-list-details>

  </div>
  <!-- / CONTENT -->

</div>


