<!--The content below is only a placeholder and can be replaced.-->
<mat-drawer-container autosize fullscreen>
  <mat-drawer #drawer mode="side">
    <mat-toolbar>
      <mat-toolbar-row routerLink="/">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-drawer>

  <div id="drawer-content">
    <mat-toolbar color="primary">
      <button mat-button (click)="drawer.toggle()">
        <mat-icon>
          menu
        </mat-icon>
      </button>
      <span class="margin-left-5">Simple CRM</span>
      <span class="example-spacer"></span>
      <button mat-button title="Info">
        <mat-icon>info_outline</mat-icon>
      </button>
    </mat-toolbar>

    <div class="body-margin center-align">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>