<div fxFlex fxLayout="column" fxLayoutGap="20px">

  <!-- Tests entity functions (with @ngrx/entity) -->
  <mat-card>
    <mat-card-content>
      <div *ngFor="let item of items | async">
        <img src="#" width="200" height="200" />

        <h4>Entity ID: {{ item.id }}</h4>
        <p>Date: {{ item.dCreate }}</p>

        <mat-card-actions align="center">

          <button mat-button (click)="updateEntidad(item.id)">
           update creation datetime
          </button>

          <button mat-button (click)="deleteEntidad(item.id)">DELETE</button>

        </mat-card-actions>
      </div>
      <mat-card-actions align="left">
        <button mat-button (click)="addItem()">Add item</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  
  <!-- description -->
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <!-- link tabs -->
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Links</h2>
      <mat-tab-group class="demo-tab-group">
        <mat-tab label="Tab 1">
          <ng-template mat-tab-label>
            <mat-icon>security</mat-icon>
          </ng-template>
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
          </div>
        </mat-tab>
        <mat-tab label="Tab 2">
          <ng-template mat-tab-label>
            <mat-icon>attach_file</mat-icon>
          </ng-template>
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
          </div>  
        </mat-tab>
        <mat-tab label="Tab 3" disabled>
          <ng-template mat-tab-label>
            <mat-icon>block</mat-icon>
          </ng-template>
          No content  
        </mat-tab>
        <mat-tab label="Tab 4">
          <ng-template mat-tab-label>
            <mat-icon>loop</mat-icon>
          </ng-template>
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
          </div>  
        </mat-tab>
        <mat-tab label="Tab 5">
          <ng-template mat-tab-label>
            <mat-icon>build</mat-icon>
          </ng-template>
          No content  
        </mat-tab>
        <mat-tab label="Tab 6">
          <ng-template mat-tab-label>
            <mat-icon>thumb_down</mat-icon>
          </ng-template>
          No content  
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>

</div>
