.example-container, .example-table-container { position: relative }

table { width: 100% }

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 73px;
  right: 0;
  background: rgba(0, 0, 0, .15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-column-actions {
  width: 150px;
  &.mat-header-cell { padding-left: 10px }
}
